# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# caches/temp
tmp/
.cache/
.parcel-cache/

# build/coverage
dist/
build/
coverage/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
